<div class="container">
  <div *ngIf="restoran" class="restoran-detalji">
      <h2>{{ restoran.imeRestorana }}</h2>
      <p><strong>ID:</strong> {{ restoran.id }}</p>
      <p><strong>Ime:</strong> {{ restoran.imeRestorana }}</p>
      <p><strong>Adresa:</strong> {{ restoran.adresa }}</p>
      <p><strong>Trenutno otvoreno:</strong> {{ restoran.trenutnoOtvoreno ? 'Da' : 'Ne'}}</p>
      <p><strong>Postotak opterećenosti:</strong> {{ restoran.postotakOpterecenosti }}%</p>
      <p><strong>Broj zvjezdica:</strong> {{ restoran.michelinZvijezdice }}</p>
      <p><strong>Broj stolova:</strong> {{ restoran.brojStolova }}</p>
      <p><strong>Godina osnivanja:</strong> {{ restoran.godinaOsnivanja }}</p>
      <p><strong>Radno vrijeme:</strong></p>
      <ul>
          <li *ngFor="let rv of radnoVrijeme">
              {{ rv.dan }} : {{ rv.vrijeme}}
          </li>
      </ul>

        <div class="recenzije">
          <h3>Recenzije</h3>
          <div *ngIf="recenzije && recenzije.length > 0; else nemaRecenzija">
            <div *ngFor="let rec of recenzije" class="recenzija">
              <h3><strong>Naslov:</strong> {{ rec.naslov }}</h3>
              <p><strong>Ocjena:</strong> {{ rec.ocjena }}/5</p>
              <p><strong>Tekst:</strong> {{ rec.tekst }}</p>
              
              <button (click)="onEdit(rec)">Uredi</button>
              <button (click)="onDelete(rec)">Obriši</button>
            </div>
          </div>
          <ng-template #nemaRecenzija>
            <p>Još nema recenzija za ovaj restoran.</p>
          </ng-template>
        </div>

        <div *ngIf="recenzijaZaEdit" class="uredi-recenziju-forma">
        <h3>Uredi recenziju</h3>
        <form (ngSubmit)="onUpdateRecenzija()" #recenzijaForm="ngForm">
          <label>
            Naslov:
            <input type="text" name="naslov" [(ngModel)]="recenzijaZaEdit.naslov" required />
          </label><br />

          <label>
            Ocjena:
            <input type="number" name="ocjena" [(ngModel)]="recenzijaZaEdit.ocjena" min="1" max="5" required />
          </label><br />

          <label>
            Tekst:
            <textarea name="tekst" [(ngModel)]="recenzijaZaEdit.tekst" required></textarea>
          </label><br />

          <button type="submit">Spremi promjene</button>
          <button type="button" (click)="recenzijaZaEdit = null">Odustani</button>
        </form>
      </div>

        
        
      
    </div>
  <div *ngIf="restoran" class="uredi-forma">
      <h2>Uredi restoran</h2>
      <form (ngSubmit)="onSubmit()" #restoranForm="ngForm">
        <label>
          Ime restorana:
          <input type="text" name="imeRestorana" [(ngModel)]="restoran.imeRestorana" required />
        </label><br />
    
        <label>
          Adresa:
          <input type="text" name="adresa" [(ngModel)]="restoran.adresa" required />
        </label><br />
    
        <label>
          Trenutno otvoreno:
          <input type="checkbox" name="trenutnoOtvoreno" [(ngModel)]="restoran.trenutnoOtvoreno" />
        </label><br />
    
        <label>
          Postotak opterećenosti:
          <input type="number" name="postotakOpterecenosti" [(ngModel)]="restoran.postotakOpterecenosti" min="0" max="100" />
        </label><br />
    
        <label>
          Michelin zvjezdice:
          <input type="number" name="michelinZvijezdice" [(ngModel)]="restoran.michelinZvijezdice" min="0" max="3" />
        </label><br />

        <label>
          Broj stolova:
          <input type="number" name="brojStolova" [(ngModel)]="restoran.brojStolova" min="1" />
        </label><br />

        <label>
          Godina osnivanja:
          <input type="number" name="godinaOsnivanja" [(ngModel)]="restoran.godinaOsnivanja" min="1900" max="2100" />
        </label><br />
    
        <fieldset>
          <legend>Radno vrijeme:</legend>
          <div *ngFor="let dan of dani; let i = index">
            <label>{{ dan }}:
              <input
                type="text"
                [(ngModel)]="radnoVrijeme[i].vrijeme"
                name="vrijeme-{{i}}"
              />
            </label>
          </div>
        </fieldset><br />
    
        <button type="submit">Spremi</button>
        <button routerLink="/restorani">Odustani</button>
      </form>
    </div>
</div>